.header {
  margin-top: 20px;
  display: flex;
  margin-left: 60px;
  align-items: center;
}
.header img {
  width: 100px;
  height: 70px;
}
.header h1 {
  font-size: 48px;
  line-height: 59px;
  padding-left: 30px;
  font-weight: normal;
}
.line {
  border: 1px solid #e5e5e5;
  margin-top: 10px;
}
/* BUTTON */
.button {
  width: 200px;
  height: 60px;
  margin-top: 60px;
  margin-left: 300px;
}

.OFF {
  background-color: #5c48d3;
  color: white;
  font-size: 34px;
  width: 120px;
  height: 70px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ON {
  background-color: white;
  color: #5c48d3;
  font-size: 34px;
  width: 120px;
  height: 70px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #908f8f;
}
.departure h1 {
  width: 200px;
  height: 130px;
  border: 1px solid #908f8f;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 520px;
  text-align: center;
  vertical-align: baseline;
  color: white;
  top: 280px;
  left: 250px;
  position: absolute;
}
.reset {
  background-color: #5c48d3;
  color: white;
  font-size: 28px;
  border-radius: 6px;
  width: 120px;
  height: 50px;
  border: none;
  margin-left: 550px;
  margin-top: 20px;
}

/* FOOTER */
.footer {
  text-align: center;
  color: black;
  font-size: 15px;
  line-height: 18px;
  margin-top: 150px;
}
.footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
}
